---
page_title: "Provider: kenske/technitium"
description: |-
  Provider for managing Technitium DNS resources.
---

# Technitium Provider

Provider for managing Technitium DNS server resources. This provider allows you to manage DNS and DHCP configuration.

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown }}